.nothing__main-content {
  align-items: center;
  background: linear-gradient($primary 10%, rgb(54, 9, 177));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  p {
    text-align: center;
  }
}
